@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --clr: #2c344c;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
    flex-direction: column;
}

h1 {
    text-align: left;
    color: #94b2e2;
}

button {
    display: block;
    margin: 10px 0;
    padding: 30px 60px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#counter {
    font-size: 36px;
    color: white;
    margin: 20px 0;
}

#pointsPerClick {
    font-size: 18px;
    color: white;
    margin-top: 10px;
}

footer {
    padding: 20px;
    background-color: #2c344c; /* Matches the body's background for consistency */
    color: #fff; /* White text color for contrast */
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #94b2e2; /* Light blue color for links */
    text-decoration: underline; /* Underline to indicate it's a link */
}

footer a:hover {
    color: #ffffff; /* White color on hover for a visual feedback */
}

@media (max-width: 768px) {
    body {
        padding: 5%;
    }

    h1 {
        font-size: 2rem;
    }

    button {
        padding: 15px 30px;
        font-size: 1.5rem;
    }

    #counter {
        font-size: 28px;
    }

    #pointsPerClick {
        font-size: 14px;
    }

    footer {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10%;
    }

    h1 {
        font-size: 1.75rem;
    }

    button {
        padding: 12px 24px;
        font-size: 1.25rem;
    }

    #counter {
        font-size: 24px;
    }

    #pointsPerClick {
        font-size: 12px;
    }

    footer {
        padding: 10px;
    }
}
