@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --clr: #2c344c;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
    flex-direction: column;
}

h1 {
    text-align: left;
    color: #94b2e2;
}

button {
    display: block;
    margin: 10px 0;
    padding: 30px 60px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: inherit;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    transform: scale(1);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.card.flip {
    background-color: #f0f0f0;
    color: var(--clr);
    transform: rotateY(180deg);
}

.announcement {
    background-color: #ff9800;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
